table {
  display: block;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  text-indent: 10px;
  border-spacing: 0px;
  margin-top: 15px;
  margin: 10px;
  font-size: 1em;
}

thead{
  color: green;
  font-size: 2em;
  text-transform: capitalize;
  text-align: center;
  padding: 10px;
  width: 50px;
}
td{
  padding: 10px;
  text-align: center;
}
td:first-child{
  white-space: pre-wrap;
  text-align: center;
  font-weight: 500;
  font-size:1.2em
}

tr:nth-of-type(even){
    background-color:rgba(105, 102, 105, 0.1)
}