h2,
h4 {
  text-transform: capitalize;
  text-align: center;
}
.active:active{
  background: rgba(148, 68, 253, 0.5);
}
.recovered:active{
  background: rgba(9, 243, 48, 0.5);
}
.deceased:active{
  background: rgba(255, 0, 0, .5);
}
@media (max-width: 600px){
  .card{
    width: 30vh;
  }
}