
table{
    display: block;
    width: 500px;
    height: 600px;
    overflow-y: scroll;
    margin-top: 550px;
    
}

{
    width: 1px;
}

th{
    
    padding: 10px;
    color: rgb(124, 133, 45);
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: 800;
}

tr:nth-child(even)
{
   background-color: rgb(165, 164, 164);
}

td
{
    padding: 10px;
}
table
{
    margin: 0;
    border-spacing: 0;
    text-align: center;
}