h2{
    text-transform: capitalize;
}

.confirmed{
    color:rgb(250, 112, 112);
}
.recovered{
    color:rgb(32, 138, 5);
}
.deceased  {
    color:rgb(250, 112, 112);
}
.active{
    color:rgb(120, 64, 252);
}
.active,.confirmed ,.deceased ,.recovered
{
    flex-grow: 1;
}

@media (max-width:800px){

  }
@media (max-width:600px){
    h2,h4,span{
        font-size: 1em;
        text-align: center;
    }
  }
@media (max-width:280px){
    h2{
        font-size: .8em;
    }
  }