body {
  background-color: #fff;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: space-between;
}
.cardlist {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.left {
  display: flex;
  flex-direction: column;
}
svg {
  overflow: visible;
  outline: none;
}


.mainpage {
  display: flex;
  justify-content: space-between;
}
.cardlist {
  display: flex;
  flex-direction: row;
  margin: 0px;
}
.active{
  color:blue;
}
.recovered{
  color: green;
}
.deceased{
  color: red;
}
@media (max-width: 600px) {
  .App{
    width: 100vh;
  }
  .mainpage {
    flex-direction: column;
  }
  svg {
    width: 500px;
  }
  body {
    width: 100vh;
  }
  .container{
    margin: auto;
  }
  table{
    margin: auto ;
  }
}
