body{
  margin: 0;
  position: relative;
}
nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: rgb(46, 150, 87);
  padding: 10px;
  margin: 0px;
}
.map-container{
  height: fit-content;
}
nav >h1{
  margin: auto 10px;
  color: white;
}
.icon>h1>a{
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.icon>h1{
  margin-right: 4vw
}
.mainpage{
  display: flex;
  flex-direction: row;
}
.left{
  width: 50%;
}
.map-container{
  height: 450px;
}
.right{
  width: 50%;
}
.cardlist{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto 10px
}
.chartlist
{
  padding:10px ;
}


canvas{
  width:100% !important;
  padding: 10px;
}
svg{
  outline: none;
}


@media (min-width:1000px){
  .map-container{
    height: 650px;
  }
  select{
    width: 80%;
  }
}

@media (max-width:800px){
  .mainpage{
    display: flex;
    width:100%; 
    flex-direction: column;
    justify-content: center;
  }
  .map-container{
    height: fit-content;
  }
  .left{
    width: 80%;
  }

  .right{
    width: 80%;
  }
  table{
    width: 100%;
    margin: auto 10px;

  }


}

@media (max-width:685px){

  .left{
    width: 100%;
  }


  .right{
    width: 100%;
  }  
  select{
    width: 80%;
  }
}

@media (max-width:350px){
  nav>h1{
    font-size: 16px;
  }
  select{
    width: 80%;
  }
}
@media (max-width:260px){
  nav>h1{
    font-size: 16px;
  }
  select{
    width: 80%;
  }
  .cardlist{
    display: flex;
    flex-direction: column;
  }
}