body {
  background-color: wheat;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: space-between;
}
.cardlist {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.left {
  display: flex;
  flex-direction: column;
}
svg {
  overflow: visible;
  outline: none;
}

path:hover {
  cursor: pointer;
}
.mainpage {
  display: flex;
  justify-content: space-between;
}
.cardlist {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media (max-width: 600px) {
  .mainpage {
    background-color: aquamarine;
    flex-direction: column;
  }
  svg {
    width: 500px;
  }
  body {
    width: 100vh;
  }
}
